@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 128, 128;
  --background-end-rgb: 0, 128, 128;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: 'MS Sans Serif';
  src: url('/fonts/MS-Sans-Serif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'MS Sans Serif', Arial, sans-serif;
}

.border-win95 {
  border-style: solid;
  border-width: 2px;
  border-bottom-color: #535353;
  border-right-color: #535353;
  border-top-color: #fff;
  border-left-color: #fff;
}

.border-win95-inset {
  border-style: solid;
  border-width: 2px;
  border-bottom-color: #fff;
  border-right-color: #fff;
  border-top-color: #535353;
  border-left-color: #535353;
}
